@import '../../../styles/styles.less';

.card {
  border: 1px solid red;
  flex-direction: column;
  width: 30%;
  margin: 10px auto;
  padding: 15px 10px;
  :nth-child(1) {
    padding: 10px;
  }
  Button {
    margin: 10px;
  }

  @media screen and (max-width: @tablet) {
      width: 45%;
  }

  @media screen and (max-width: @mobile) {
      width: 100%;
  }
}



